<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<configSections>
		<section name="AppSettings" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	<AppSettings>
		<add key="ExePath" value="VeraRelease" />

		<!--保存历史记录最大数值：10-->
		
		<add key="HistoryMaxLength" value="10" />
		<!--已经挂载的盘符-->
		<add key="alreadyMount" value="o,x" />
		<!--已经挂载的盘符-->
		<add key="volumnFile" value="my.disk" />
		<add key="size" value="30M" />
		<add key="letter" value="o" />
	</AppSettings>
</configuration>